/HW/


# Ignore Maven target directories in any sub-directory
**/target/

# Ignore IDE directories and project files
**/.idea/
**/*.iml
**/.project
**/.classpath
**/.settings/
**/.vscode/


# Ignore OS-specific files
**/.DS_Store
**/Thumbs.db

# Ignore log files
**/*.log

# Ignore Maven wrapper files
**/mvnw
**/mvnw.cmd

# Ignore environment configuration files
**/.env
